<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="CSMConnectionString" connectionString="Data Source=10.202.104.52;Initial Catalog=CSMDB2;User ID=CSM;password=password;" providerName="System.Data.SqlClient"/>
    <add name="CSMContext" connectionString="metadata=res://*/DataAccess.CSMContext.csdl|res://*/DataAccess.CSMContext.ssdl|res://*/DataAccess.CSMContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.202.104.52;initial catalog=CSMDB;persist security info=True;user id=CSM;password=password;Min Pool Size=0;Max Pool Size=200;Pooling=true;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="DNCContext" connectionString="metadata=res://*/DataAccess.DNCContext.csdl|res://*/DataAccess.DNCContext.ssdl|res://*/DataAccess.DNCContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.202.104.52;initial catalog=DNCDB;persist security info=True;user id=DNC;password=password;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="CSMConnectionString" connectionString="Data Source=10.3.112.73;Initial Catalog=CSMDB;User ID=CSM;password=password;" providerName="System.Data.SqlClient" />
    <add name="CSMContext" connectionString="metadata=res://*/DataAccess.CSMContext.csdl|res://*/DataAccess.CSMContext.ssdl|res://*/DataAccess.CSMContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.3.112.73;initial catalog=CSMDB;persist security info=True;user id=CSM;password=password;Min Pool Size=0;Max Pool Size=200;Pooling=true;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- <add name="CSMConnectionString" connectionString="Data Source=.\SQL2014;Initial Catalog=CRMDB;User ID=CRM;password=password;" providerName="System.Data.SqlClient" />-->
    <!-- <add name="CSMContext" connectionString="metadata=res://*/DataAccess.CSMContext.csdl|res://*/DataAccess.CSMContext.ssdl|res://*/DataAccess.CSMContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQL2014;initial catalog=CRMDB;persist security info=True;user id=CRM;password=password;Min Pool Size=0;Max Pool Size=200;Pooling=true;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- <add name="CSMConnectionString" connectionString="Data Source=.\SQL2014;Initial Catalog=CSMDB;User ID=sa;password=1234;" providerName="System.Data.SqlClient" />-->
    <!-- <add name="CSMContext" connectionString="metadata=res://*/DataAccess.CSMContext.csdl|res://*/DataAccess.CSMContext.ssdl|res://*/DataAccess.CSMContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQL2014;initial catalog=CSMDB;persist security info=True;user id=sa;password=1234;Min Pool Size=0;Max Pool Size=200;Pooling=true;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <!-- Mail Server -->
    <add key="MailEnable" value="true" />
    <add key="MailAuthenMethod" value="default" />
    <add key="MailAuthenUser" value="" />
    <add key="MailAuthenPassword" value="" />
    <add key="MailSenderName" value="kk-crm@kiatnakin.co.th" />
    <add key="MailSenderEmail" value="kk-crm@kiatnakin.co.th" />
    <add key="Email-Server" value="10.202.100.62" />
    <add key="Email-Server-Port" value="25" />
    <!--Email To-->
    <add key="EmailToAddress" value=""/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>